body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.all {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #787ffc, #4d56f0, #787ffc, #4d56f0);
  background-size: 300% 300%;
  animation: color 30s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.xd {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 2.3rem;
  text-transform: capitalize;
  transition: color 0.25s, text-shadow 0.25s;
}

.xd:hover {
  color: #2271d8;
  text-shadow: 0 0 10px #2271d8;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  padding: 1rem;
  z-index: 5;
}

.nav:first-child {
  margin-left: 10%;
}

.navbar {
  display: none;
  position: fixed;
  height: 92vh;
  width: 100vw;
  top: 8vh;
  left: 0;
  background: linear-gradient(85deg, #0a0d11, #31415c);
  opacity: 0.95;
}

.navbar a {
  padding: 20px;
}

input:checked ~ .navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

#hp,
#menu-bar {
  display: none;
}

#expand-btn {
  cursor: pointer;
}

.txt {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 20px;
  scale: 0.75;
  margin-top: -10vh;
}

.opis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

h1,
h2 {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  margin: 3px;
}

h1 {
  overflow: hidden;
  border-right: 0.15em solid rgb(103, 207, 255);
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.15em;
  animation: typing 2.7s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(103, 207, 255);
  }
}

h2 {
  padding: 5px 0px;
  font-size: 1.5rem;
  margin: 0;
}

#xd {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 2%;
}

#xd a i {
  text-decoration: none;
  color: white;
  padding: 0 10px;
  font-size: 2.137rem;
  transition: text-shadow 0.3s, color 0.3s;
}

#xd a i:hover {
  color: #2271d8;
  text-shadow: 0 0 15px #2271d8;
}

#cv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 90px;
  width: 120px;
  height: 30px;
  background: #2f3b4e;
  margin-top: 5%;
  /* border: solid 1px #1d2531; */
  border-radius: 12px;
  transition: background 0.3s, box-shadow 0.3s;
}

#cv a {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#cv:hover {
  background: #2271d8;
  box-shadow: 0 0 15px #2271d8;
}

.img {
  width: 400px;
  height: 400px;
}

.img img {
  border-radius: 50%;
  box-shadow: 0 0 30px #101011;
}

@media (min-width: 600px) {
  .txt {
    margin-top: 2vh;
    scale: 0.9;
  }
}

@media (min-width: 900px) {
  #expand-btn,
  #menuxd {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    padding: 1.5rem 0.5rem;
    scale: 0.9;
  }

  .nav:first-child {
    margin-left: 5%;
  }

  .navbar,
  #hp {
    display: initial;
  }

  .navbar {
    position: relative;
    top: auto;
    left: auto;
    background: none;
  }

  .txt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10vh;
    gap: 30px;
    scale: 1;
  }
}
